.header-logo-img {
  width: auto;
  height: 80px;
  padding: 0;
}

.header-nav {
  margin: 0;
  background-color: var(--body-bg-color);
  position: fixed;
  top: 0;
  /* width: 100vw; */
  width: 100%;
  padding: 0 1rem;
}

.nav-menu-btn {
  padding: 0;
}

.nav-menu-icon {
  font-size: 2rem;
  padding: 0.5rem;
}

.nav-menu-icon:hover {
  background-color: var(--comp-container-color);
  border-radius: 50%;
  padding: 0.5rem;
}

.nav-search {
  gap: 1rem;
}

.nav-searchbar {
  color: var(--ghost-color);
  background: rgba(0, 0, 0, 0);
  width: 15rem;
}

.header-link {
  color: var(--base-gray-color);
  text-transform: uppercase;
}

.header-link:hover {
  color: var(--ghost-color);
}

.header-link-active {
  text-decoration: none;
  color: var(--ghost-color);
}

.header-account-link:hover {
  cursor: pointer;
  color: var(--ghost-color);
}

.header-nav-links > nav > ul {
  padding-right: 2rem;
}

.dropDown {
  display: flex;
  flex-direction: column;
  width: 4.5rem;
  position: fixed;
  top: 3.5rem;
  right: 1.9rem;
  right: 0.87rem;
  z-index: 2;
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  text-align: center;
  font-family: Jurassic Park;
}
