.shrinked-sidebar {
  display: flex;
  flex-direction: column;
}

.shrinked-sidebar-link {
  padding: 0.75rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.shrinked-sidebar-link.active-link {
  background-color: var(--comp-container-color);
}

.shrinked-sidebar-link.active-link > span {
  color: var(--accent-color);
}

.shrinked-sidebar-icon {
  color: var(--font-color);
  font-size: 2rem;
}

.shrinked-sidebar-icon:hover {
  color: var(--accent-color);
}
