@import url("https://raptor-ui.netlify.app/main.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
@font-face {
  font-family: "Jurassic Park";
  src: local("Jurassic Park"),
    url(../public/assets/Fonts/JurassicPark-BL48.ttf) format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.light-mode {
  --font-color: #101212;
  --ghost-color: #000000;
  --body-bg-color: #ffffff;
  --comp-container-color: #ebebeb;
  --input-outline-color: #b5b5b5;
  --card-hover-color: #cfcfcf85;
  --icon-hover-color: #cacaca;
}

.dark-mode {
  --font-color: #cccccc;
  --ghost-color: #ffffff;
  --body-bg-color: #101212;
  --comp-container-color: #1d1d1d;
  --input-outline-color: #222222;
  --card-hover-color: #27272785;
  --icon-hover-color: #383838;
}

.main-content {
  display: flex;
  flex-grow: 1;
  margin-bottom: 5rem;
}

.app-content {
  display: flex;
  margin-top: 5rem;
  flex-grow: 1;
}
