.filter-chip {
  padding: 0.2rem 0.5rem;
  color: var(--font-color);
  border: 1px solid var(--base-gray-color);
  background-color: var(--comp-container-color);
  cursor: pointer;
}

.filter-chip:hover,
.filter-active-chip {
  padding: 0.2rem 0.5rem;
  color: var(--body-bg-color);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
